.input-container {
    display: flex;
    flex-wrap: wrap;
}

:host {
    --input-height: 36px;
    --input-width-s: 94px;
    --input-width-m: 164px;
    --input-width-l: 336px;
    --label-width: 40%;
    font-family: var(--primary-font);

    .input-container-label {
        width: var(--label-width);
        min-width: var(--label-width);
        text-align: right;
        padding-right: 8px;
        height: var(--select-height);
        display: flex;
        align-items: center;
        justify-content: flex-end;

        // TODO: override bootstrap
        max-width: none;
        margin: 0;
    }

    .input-right-label {
        padding-left: 8px;
        display: flex;
        align-items: center;
        height: var(--select-height);
    }

    .input-errors {
        &:not(.emptyLabel) {
            margin-left: var(--label-width);
        }
        padding-left: 8px;
        display: block;
    }

    .disabled {
        color: var(--color-dusty-gray);
    }

    .invalid {
        .label {
            color: var(--color-carmine);
        }
    }

    .child-container {
        width: 100%;

        &.hasRightLabel {
            width: auto;
        }
    }

    label + .child-container {
        max-width: calc(100% - var(--label-width));
    }

    &[theme='top-label'] {
        .input-container {
            display: flex;
            flex-flow: column;
        }

        .label {
            width: auto;
            text-align: left;
            margin: 9px 0 8px 0;
        }
    }
}
